.Card {
    width: 100%;
    height: 75vh;
    max-height: 688px;
    display: block;

    @media screen and (min-width: 1600px) and (min-height: 700px) {
        height: 90vh;
        max-height: 808px;
    }

    @media screen and (max-width: 700px) {
        height: 450px;
        max-height: 388px;
    }


    @media screen and (min-height: 1000px) {
        height: 89vh;
        max-height: 908px;
    }

    &__img {
        width: 100%;
        height: 92%;

        @media screen and (max-width: 700px) {
            height: 90%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            //object-position: center;
            display: block;
        }
    }

    .tags {
        height: 8%;

        @media screen and (max-width: 700px) {
            height: 10%;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        .tags_line {
            width: 100%;
            display: flex;
            justify-content: space-between;

            h6 {
                color: #cfcfcf;

                span {
                    font-weight: 300;
                    color: #cfcfcf;
                }
            }
    
            .tags_time {
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 0.2em;
                color: #cfcfcf;

                @media screen and ( min-height: 1000px ) and ( min-width: 1600px ) {
                    font-size: 22px;
                }
            }
        }
    }
}