
@import "./reset";
@import "./typography";

@import "../../components/TheHeader/TheHeader";

body {
    background-color: black;

    overflow-x: hidden;

    min-height: 100vh;
    min-width: 100vw;
}