@import "./reset";
@import "./typography";

@import "../../components/TheHeader/TheHeader";
@import "../../components/Card/Card";

@import "./pages/index";
@import "./pages/about";
@import "./pages/collection/[id].scss";

body {
    background-color: black;
    overflow-x: hidden;
    min-height: 100vh;
    min-width: 100vw;

    &::-webkit-scrollbar { width: 0 !important }
    &::scrollbar { width: 0; }

    .defaultLayout {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        main {
            width: 100%;
            max-width: 1440px;

            box-sizing: border-box;
            padding-left: 14vw;
            padding-right: 14vw;

            @media screen and (min-width: 1660px) {
                padding-left: 0;
                padding-right: 0;
            }

            @media screen and( max-width:600px ) {
                padding-left: 7vw;
                padding-right: 7vw;
            }
        }
    }
}