h1 {
    font-family: "Bodoni Moda", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 107px;

    color: #FFFFFF;

    &.logo {
        span {
            font-style: italic;
        }
    }
}

h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 63px;
    letter-spacing: 0.2em;

    color: #FFFFFF;
}

h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;

    color: #C9C9C9;
}

h4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.2em;

    color: #C9C9C9;
}

h5 {
    font-family: "Bodoni Moda";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 37px;

    color: #FFFFFF;
}

h6 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #FFFFFF;
}

p, i, a, div {
    font-family: "Roboto", sans-serif;
    color: #C9C9C9;
}