.collection-main {
    width: 100%;
    height: 100vh;
    margin-top: -191px; // heoght TheHeader
    z-index: -1;

    @media screen and (max-width: 700px) {
        margin-top: -171px;
    }

    .imgabs {
        height: 100vh;
        position: absolute;
        top: 0;
        z-index: -1;
        max-width: 580px;

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
            max-width: 580px;

            @media screen and (max-width: 700px) {
                display: none;
            }

            @media screen and (min-width: 1660px) {
                max-width: 650px;
            }
        }

        @media screen and (min-width: 1660px) {
            max-width: 650px;
        }
    }

    &-img {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        z-index: -1;

        img {
            width: 565px;
            height: 100%;
            position: relative;
            left: 40px;
            z-index: -1;
        }
    }
}

.collection-h {
    width: 100%;
    height: 100vh;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    .collection-name {
        height: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            white-space: pre;
        }

        h5 {
            white-space: pre;
        }

        div {
            display: flex;
            align-items: center;
        }
    }
}

.collection-collage {
    width: 100%;
    margin-top: 80px;
    min-height: 900px;

    @media screen and (max-width: 700px) {
        margin-top: -60px;
        min-height: 0;
    }

    img {
        object-position: center;
        object-fit: cover;
        width: 100%;
    }
}

.line {
    width: 12px;
    height: 125px;

    padding-top: 50px;
    padding-bottom: 50px;

    .line-img {
        width: 12px;
        height: 125px;
        background-image: url("/static/line.png");
        background-repeat: no-repeat;
    }
}

.about {

    h6 {
        color: rgb(119, 119, 119);
        letter-spacing: 0.1em;
    }

    h1 {
        margin-top: 20px;
    }

    .prod {
        margin-top: 30px;

        .prof {
            font-family: $mainFont;
            font-style: italic;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            text-transform: capitalize;
            color: #BFBFBF;

            @media screen and (max-width: 700px) {
                font-family: $mainFont;
                font-style: italic;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                text-transform: capitalize;

                color: #BFBFBF;
            }
        }

        .name {
            font-family: $secondFont;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;
            color: #BFBFBF;
            margin-left: 10px;

            @media screen and (max-width: 700px) {
                font-family: $secondFont;
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 21px;
                /* identical to box height */

                text-transform: capitalize;

                color: #BFBFBF;
            }
        }
    }
}

.anchors {
    height: 70px;
    box-sizing: border-box;
    padding-top: 50px;

    .two {
        margin-left: 10px;
    }

    a {
        font-family: $secondFont;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        cursor: pointer;

        @media screen and (max-width: 700px) {
            font-size: 16px;
        }

        span {
            color: #616161;
            transition-duration: .85s;

            &:nth-child(1), &:nth-child(4), &:nth-child(7), &:nth-child(12) {
                transition-duration: .45s;
            }

            &:nth-child(5), &:nth-child(10), &:nth-child(16) {
                transition-duration: .25s;
            }

            &:nth-child(2), &:nth-child(9), &:nth-child(15) {
                transition-duration: .65s;
            }
        }

        &:hover span {
            color: #c5c5c5;
        }
    }
}